 xxx.parent{
    xxxxx-fx-background-color: #fff;
}
.sidebar{
    -fx-background-color: #333645;
}
.btns{
    -fx-background-color: transparent;
}
.btns:hover{
    -fx-background-color: #202332;
}
.box{
    -fx-border-color: #3B3F4B;
    -fx-border-width: 1px 0px 0px 0px;
}
.round-lbl{
    -fx-background-color: #FE7A79;
    -fx-background-radius: 100%;
}
.card-01{
    -fx-background-color: rgba(0, 162, 211,0.3);
}
.card-02{
    -fx-background-color: rgba(69, 183, 175,0.3);
}
.card-02{
    -fx-background-color: rgba(255, 198, 108,0.3);
}
.round-box{
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-width: 5px;
}
.root { 
    -fx-background-color: cornsilk; -fx-padding: 15; }

.progress-bar { 
    -fx-box-border: goldenrod; }

.green-bar  { 
    -fx-accent: green;  }
.yellow-bar { 
    -fx-accent: yellow; }
.orange-bar { 
    -fx-accent: orange; }
.red-bar    { 
    -fx-accent: red;    }

.chart-pie-label-line {
/*    -fx-stroke: #ffffff;
    -fx-fill: #ffff;*/
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
} 
.chart-legend {
   -fx-background-color:  #fafad2;
   -fx-stroke: transparent;
}

.HBox:onclick {
    -fx-focus-traversable:true;
    -fx-background-color : #ffaadd;;
}

.label:focused{
    -fx-focus-traversable:true;
    -fx-text-fill :#ffffff
}

.jfx-button:focused{
    -fx-focus-traversable:true;
    -fx-background-color : #9E9E9E;
    -fx-text-fill :#ffffff
}

.jfx-button:unfocussed{
    -fx-focus-traversable:true;
    -fx-background-color : slategrey;;
    -fx-text-fill :#ffffff
}

.HBox:hover{
    -fx-background-color :  #F1F1F1;
}